
<div class="form-display">
  <div class="form-container">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h2>Mon trajet</h2>
    <%= simple_form_for :search, url: trips_path, :method => method do |f| %>
    <div class="form-group">
        <p class="d-inline">Adresse de départ</p>
      <div  class="d-flex justify-content-center">
        <%= f.input :start_address, required: true, label: false, value: search.start_address %>
        <button class="btn btn-secondary do-geoloc btn-geoloc" type="button"><i class="fas fa-map-marker-alt"></i></button>
      </div>
      <%= f.label :query, "Adresse d'arrivée" %>
      <%= f.input_field :end_address, required: true, value: search.end_address, class: "form-control" %>

          <p>Je souhaite partir dans </p>

          <div class="trip">
            <input type="hidden" name="search[start_time][]" value="" class="inline">
            <div>
              <label class="my-label" name="search[start_time][]">
                <div class="btn-radio" ><p>15 min</p></div>
                <input class="d-none" type="radio" name="search[start_time][]" value="15" id="search_start_time">
              </label>
            </div>
            <div>
              <label class="my-label" name="search[start_time][]">
                <div class="btn-radio"><p>30 min</p></div>
                <input class="d-none" type="radio" name="search[start_time][]" value="30" id="search_start_time">
              </label>
            </div>
             <div>
              <label class="my-label" name="search[start_time][]">
                <div class="btn-radio"><p>1 h</p></div>
                <input class="d-none" type="radio" name="search[start_time][]" value="60" id="search_start_time">
              </label>
            </div>
          </div>

          <p>Mode(s) de transport</p>

          <div class="trip">
            <input type="hidden" name="search[transport][]" value="" class="inline">
            <div >
              <label class="my-label">
               <div class="btn-radio"><i class="fas fa-walking"></i></div>
                <input class="d-none" type="radio" name="search[transport][]" value="0" id="search_transport">
              </label>
            </div>
            <div >
              <label class="my-label">
                <div class="btn-radio"><i class="fas fa-bicycle"></i></div>
                <input class="d-none" type="radio" name="search[transport][]" value="1" id="search_transport">
              </label>
            </div>
             <div>
              <label class="my-label">
                <div class="btn-radio"><i class="fas fa-bus-alt"></i></div>
                <input class="d-none" type="radio" name="search[transport][]" value="2" id="search_transport">
              </label>
            </div>
          </div>
        <%= f.submit  button_name, class: "btn btn-green search-button" %>
      </div>
    <% end %>
  </div>

</div>





<script>

const doGeoloc = document.querySelector("button.do-geoloc");

  doGeoloc.addEventListener("click", (e) => {
    navigator.geolocation.getCurrentPosition(function(location) {
  var lat = location.coords.latitude;
  var lng = location.coords.longitude;
  var latlng = lat + "," + lng;
  fetch(`/users/geocoded-address?lng=${lng}&lat=${lat}`)
    .then(response => response.json())
    .then((data) => {
      document.querySelector('.form-control').value = data.address;
    });
  });
})


  const labels = document.querySelectorAll('.my-label');
  labels.forEach((label) => {
    console.log(label)
    label.addEventListener("click", (e) => {
      console.log(e.currentTarget);
      const triplabels = (e.currentTarget.parentElement.parentElement.querySelectorAll('.my-label'));
      console.log(triplabels);
      triplabels.forEach((triplabel) => {
        triplabel.classList.remove('btn-radio-check');
      });
      e.currentTarget.classList.add('btn-radio-check');
    });
  });


</script>
