<div class="form-container">
  <%= simple_form_for :search, url: trips_path, :method => :get do |f| %>
    <div class="form-group">
      <%= f.input :start_address, required: true, label: 'Adresse de départ', value: '', class: "form-control" %>
      <%= f.label :query, "Adresse d'arrivée" %>
      <%= f.input_field :end_address, required: true, value: @user.address, class: "form-control" %>

          <p>Je souhaite partir dans </p>
        <div class="trip">
          <input type="hidden" name="search[start_time][]" value="" class="inline">
          <div>
            <label class="my-label">
              <p class="btn-checkbox">15 min</p>
              <input class="d-none" type="checkbox" name="search[start_time][]" value="1" id="search_start_time">
            </label>
          </div>
          <div>
            <label class="my-label">
              <p class="btn-checkbox">30 min</p>
              <input class="d-none" type="checkbox" name="search[start_time][]" value="0" id="search_start_time">
            </label>
          </div>
           <div>
            <label class="my-label">
              <p class="btn-checkbox">1 h</p>
              <input class="d-none" type="checkbox" name="search[start_time][]" value="0" id="search_start_time">
            </label>
          </div>
        </div>

          <p>Mode(s) de transport</p>
        <div class="trip">
          <input type="hidden" name="search[transport][]" value="" class="inline">
          <div >
            <label class="my-label">
             <p class="btn-checkbox"><i class="fas fa-walking"></i></p>
              <input class="d-none" type="checkbox" name="search[transport][]" value="1" id="search_transport">
            </label>
          </div>
          <div >
            <label class="my-label">
              <p class="btn-checkbox"><i class="fas fa-bicycle"></i></p>
              <input class="d-none" type="checkbox" name="search[transport][]" value="0" id="search_transport">
            </label>
          </div>
           <div >
            <label class="my-label">
              <p class="btn-checkbox"><i class="fas fa-bus-alt"></i></p>
              <input class="d-none" type="checkbox" name="search[transport][]" value="0" id="search_transport">
            </label>
          </div>
        </div>

      <%= f.submit "Search", class: "btn btn-green search-button" %>
    </div>
  <% end %>
</div>


<script>

 navigator.geolocation.getCurrentPosition(function(location) {
  var lat = location.coords.latitude;
  var lng = location.coords.longitude;
  var latlng = lat + "," + lng;
  console.log(latlng);
  fetch(`/users/geocoded-address?lng=${lng}&lat=${lat}`)
    .then(response => response.json())
    .then((data) => {
      console.log(data.address);
      document.querySelector('.form-control').value = data.address;
    });

});



  const labels = document.querySelectorAll('.my-label');
  labels.forEach((label) => {
    label.addEventListener("click", (e) => {
      e.target.classList.toggle("border-red");
    });
  });
</script>
