<div class="container">
  <div id="map";
    data-start_address="<%= @start_address.to_json %>";
    data-end_address="<%= @end_address.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="container">
  <div class="row">
  <div class="col-sm-6">
    <div class="btn-toolbar">
      <% if current_user.bookings.last == nil %>
        <%= link_to "Rejoindre le trajet", trip_bookings_path(@trip.id), method: :post, class: "btn btn-valid" %>
        <% elsif current_user.bookings.last.progress != "arrived" || @trip.user_ids.include?(current_user.id)%>
      <% end %>
      <%= link_to "Retour aux trajets", :back, class: "btn btn-secondary" %>
    </div>
    <div class="latte">
      <img src=<%= @trip.bookings[0].user.photo %> class="avatar"/>
        <ul>
          <li>Créatrice : <%= @trip.bookings[0].user.first_name %></li>
          <li>Copines :
            <% @bookings.drop(1).each do |booking| %>
              <img src=<%= booking.user.photo %> class="avatar-small"/>
            <% end %>
          </li>
          <li>Statut : <%= @trip.bookings[0].state %></li>
          <li>Départ à : <%= Time.at(@trip.start_time).strftime("%Hh%M") %></li>
        </ul>
      </div>
    </div>
  </div>
</div>



