
<% unless @creator_bookings == nil %>

<div class="container custom-card">
  <% @creator_bookings.each do |booking| %>

    <div class="latte">
      <img src=<%= booking.user.photo %> class="avatar"/>
      <div class="latte-content">
        <p><%= booking.user.first_name %></p>
        <span class="small"> Départ : <%= Time.at(booking.trip.start_time).strftime("%Hh%M") %></span>
      </div>
      <div>
       <%= link_to my_trip_path(booking.trip), method: :delete, data: { confirm: "Supprimez ce trajet" } do %>
        <i class="fas fa-times"></i>
       <% end %>
      </div>

      <div class="latte-info">
        <div class="stars">
          <% booking.user.average_rating.times do  %>
            <i class="fas fa-star"></i>
          <% end %>
        </div>
        <i class="category <%= category_icon(booking.user.category) %>"></i>
      </div>
    </div>
  <% end %>

</div>

<% end %>

<% unless @pending_bookings == nil %>


  <ul>
    <% @pending_bookings.each do |pending_booking| %>
      <li><%= pending_booking.user.first_name %></li>
      <li data-pending_booking-statut-id="<%= pending_booking.id %>" ><%= pending_booking.state %></li>
      <% if pending_booking.state == "pending" %>
        <li data-pending_booking-button-id="<%= pending_booking.id %>"> <%= link_to "Approve", approve_my_booking_path(pending_booking), :method => :patch, remote: true, class: "btn btn-primary" %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>



<% unless @client_bookings == nil %>

  <ul>
    <% @client_bookings.each do |client_booking| %>
      <li><%= client_booking.trip %></li>
      <li><%= client_booking.state %></li>
    <% end %>
  </ul>

<% end %>
