<div class="container">

  <% unless @creator_bookings.first == nil %>


    <h2 class="booking-title">Mon trajet</h2>


    <div class="custom-card">
    <% @creator_bookings.each do |booking| %>
      <div class="latte">
        <img src=<%= booking.user.photo %> class="avatar"/>
        <a href="<%= my_booking_path(booking.id) %>" class="custom-card">
        <div class="latte-content">
          <p><%= booking.user.first_name %></p>
          <span class="small"> Départ : <%= Time.at(booking.trip.start_time).strftime("%Hh%M") %></span>
        </div>
        <div>
        </div>
          <div class="latte-info">
            <div class="stars">
             <%= link_to my_trip_path(booking.trip), method: :delete, data: { confirm: "Supprimez ce trajet" } do %>
              <i class="fas fa-times"></i>
             <% end %>
            </div>
            <div class="category">
            <%# ("<i class='fas fa-cocktail'></i>" * (User.categories.index(booking.user.category) + 1)).html_safe %>
            </div>
          </div>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>

  <% unless @pending_bookings == nil || @pending_bookings.first == nil %>
    <h2 class="booking-title">Mes réservations</h2>

    <div class="custom-card">
      <% @pending_bookings.each do |pending_booking| %>
        <div class="latte">
          <img src=<%= pending_booking.user.photo %> class="avatar"/>
          <div class="latte-content">
            <p><%= pending_booking.user.first_name %></p>
            <span class="small"> Statut :
              <% if pending_booking.state == "pending" %>
                <%= "en attente" %>
              <% else %>
                <%= "validé" %>
              <% end %>
            </span>
          </div>

        <div class="latte-info">
          <% if pending_booking.state == "pending" %>
            <p data-pending_booking-button-id="<%= pending_booking.id %>"> <%= link_to "Confirmer", approve_my_booking_path(pending_booking), :method => :patch, remote: true, class: "btn btn-valid", style: "color:white" %></p>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>





  <% unless @client_bookings.first == nil %>

    <h2 class="booking-title">Mes trajets en cours et passés</h2>

    <div class="custom-card">
      <% @client_bookings.each do |client_booking| %>
        <div class="latte">
          <img src=<%= client_booking.user.photo %> class="avatar"/>
          <div class="latte-content">
            <p><%= client_booking.user.first_name %></p>
            <span class="small"> Départ : <%= Time.at(client_booking.trip.start_time).strftime("%Hh%M") %></span>
          </div>

          <div class="latte-info">
            <span class="small" style="color:#8898aa; font-size:16px;"> Arrivée : <%= client_booking.trip.end_address.title %></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>



