<div class="container">
  <div id="map";
    data-start_address="<%= @start_address.to_json %>";
    data-end_address="<%= @end_address.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="container">
  <div class="row">
  <div class="col-sm-6">
    <div class="btn-toolbar">
    </div>
    <div class="latte">
      <img src=<%= %> class="avatar"/>
        <ul>
          <li>Créatrice : <%= @booking %></li>
          </li>
        </ul>
      </div>
      <%= link_to "Retour aux trajets", :back, class: "btn btn-valid-puple" %>
    </div>
  </div>
</div>
