<div class="container">
  <div id="map";
    data-start_address="<%= @start_address.to_json %>";
    data-end_address="<%= @end_address.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="container">
  <div class="row">
  <div class="col-sm-6">
    <div class="btn-toolbar">
    </div>
    <div class="latte">
      <img src=<%= %> class="avatar"/>
        <ul>
          <li>Créatrice : <%= @booking.user.first_name %></li>
          <li>Copines :
            <% @bookings.drop(0).each do |booking| %>
              <img src=<%= @booking.user.photo %> class="avatar-small"/>
            <% end %>
          </li>
          <li>Statut :
            <% if @booking.state == "pending" %>
            <%= "en attente" %>
            <% else %>
            <%= "validé" %>
            <% end %>
          </li>
          <li>Départ à : <%= Time.at(@trip.start_time).strftime("%Hh%M") %></li>
          <li>Moyen de transport :
            <% case  @booking.trip.transport %>
            <% when "walk" %>
              <i class="fas fa-walking"></i>
            <% when "bike" %>
              <i class="fas fa-bicycle"></i>
            <% when "bus" %>
              <i class="fas fa-bus"></i>
            <% end %>
          </li>


        </ul>
      </div>
      <%= link_to "Retour aux trajets", :back, class: "btn btn-valid-puple" %>
    </div>
  </div>
</div>
