<div class="container">
  <div id="map";
    data-start_address="<%= @start_address.to_json %>";
    data-end_address="<%= @end_address.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="phone-alert-wrapper">
  <a href="tel:17" class="phone-alert">
    <i class="fas fa-exclamation-circle"></i>
  </a>
</div>

<div class="container">
  <div class="row">
  <div class="col-sm-6">
    <div class="btn-toolbar">
    </div>
    <div class="latte">
      <img src=<%= @booking.user.photo%> class="avatar-big"/>
        <ul>
          <li><strong>Créatrice :</strong> <%= @booking.user.first_name %></li>
          <li><strong>Copines :</strong>
            <% @bookings.drop(1).each do |booking| %>
              <img src=<%= @booking.user.photo %> class="avatar-small"/>
            <% end %>
          </li>
          <li><strong>Statut :</strong>
            <% if @booking.state == "pending" %>
            <%= "en attente" %>
            <% else %>
            <%= "validé" %>
            <% end %>
          </li>
          <li><strong>Départ à :</strong> <%= Time.at(@trip.start_time).strftime("%Hh%M") %></li>
          <li><strong>Moyen de transport :</strong>
            <% case  @booking.trip.transport %>
            <% when "walk" %>
              <i class="fas fa-walking"></i>
            <% when "bike" %>
              <i class="fas fa-bicycle"></i>
            <% when "bus" %>
              <i class="fas fa-bus"></i>
            <% end %>
          </li>


        </ul>
      </div>
      <%= link_to "Retour aux trajets", :back, class: "btn btn-valid-puple" %>
    </div>
  </div>
</div>
