
<% unless @pending_bookings == nil %>

<h1 style="border-bottom: solid white 2px">Ceci représente tous mes bookings en tant qu'organisateur</h1>
<br>

<ul>
  <% @pending_bookings.each do |pending_booking| %>
  <li><%= pending_booking.user.first_name %></li>
  <li data-pending_booking-statut-id="<%= pending_booking.id %>" ><%= pending_booking.state %></li>
  <% if pending_booking.state == "pending" %>
  <li data-pending_booking-button-id="<%= pending_booking.id %>"> <%= link_to "Approve", approve_my_booking_path(pending_booking), :method => :patch, remote: true, class: "btn btn-primary" %></li>
  <% end %>
  <% end %>
</ul>
<% end %>



<h1 style="border-bottom: solid white 2px">Ceci représente tous mes bookings en tant que client</h1>
<br>

<% unless @client_bookings == nil %>

<ul>
  <% @client_bookings.each do |client_booking| %>
  <li><%= client_booking.trip %></li>
  <li><%= client_booking.state %></li>
  <% end %>
</ul>

<% end %>
